<title>My Website</title>
<head> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head> 

<style>
body {
  font: 32px Montserrat, sans-serif;
  line-height: 1.8;
  color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
  background-color: #1abc9c; 
  color: #ffffff;
}
.bg-2 { 
  background-color: paleturquoise;
  color:rg
  b(241, 33, 33);
}
.bg-3 { 
  background-color: #ffffff; 
  color: #555555;
}
.bg-4 { 
  background-color :blueviolet; 
  color: #fff;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: darkturquoise !important;
}
</style>
</head>
</body>

